    <form action="/memos/<%= @id %>" method="post">
        <input type="hidden" name="_method" value="PATCH" class="form-item_submit">
      <div class="form-item">
        <label for="form-item_label">title </label>
        <input type="text" name="title" class="form-item_text" value="<%= @memo_title %>">
      </div>
      <div class="form-item">
        <label for="form-item_label">content </label>
        <textarea class="form-item_textarea" name="content"><%= @memo_content %></textarea>
      </div>
      <div class="form_container">
        <form>
          <input type="submit" value="Memo" class="form-item_submit">
        </form>
        <form action="/" method="get" class="back">
          <input type="submit" value="Back">
        </form>
      </div>
    </form>
