  <% @memos.each do |memo| %>
    <ul>
      <li><a href="/memos/<%= memo["id"] %>" class="memo_link"><%= CGI.escapeHTML(memo["title"]) %></a></li>
    </ul>
  <% end %>
<form action="memos/new" method="get" class="form-item_submit">
  <input type="submit" value="New memo">
</form>

