<h2><%= CGI.escapeHTML(@memo_title) %></h2>
<p><%= CGI.escapeHTML(@memo_content) %></p>
<div class="form_container">
  <form action="/memos/<%= @id %>/edit" method="get" class="form-item_submit-edit">
    <input type="submit" value="Edit">
  </form>
  <form action="/" method="get" class="form-item_submit-back">
    <input type="submit" value="Back">
  </form>
  <form action="/memos/<%= @id %>" method="post" class="form-item_submit-delete">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete" id="delete">
  </form>
</div>

